NEXT_PUBLIC_API_BASE_URL="http://localhost:3000/"
DATABASE_URL=mysql://mysql:mysql@localhost/database

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""